<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycca">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cca_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_cca_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications_none_black_24dp" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="47a89879c667dbd29e47d8494b60254be6efa616" />
        <meta-data
            android:name="sendotp.key"
            android:value="@string/sendotp_key" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Splash"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Home" />
        <activity
            android:name=".custom.customImagePicker.cropper.CropImageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"

            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activity.TrackGrievanceResultActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ccajk.gov.in"
                    android:pathPrefix="/android/trackgrievance/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UpdateGrievanceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"

            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StateSettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"

            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.IntroActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.KypUploadActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".custom.barCode.BarcodeCaptureActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Read Barcode"
            android:screenOrientation="portrait" />

        <service
            android:name=".firebaseService.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mycca.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.VerificationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.StateSelectionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
    </application>

</manifest>